[submodule "bundle/vundle"]
	path = bundle/vundle
	url = git://github.com/gmarik/vundle.git
[submodule "bundle/molokai"]
	path = bundle/molokai
	url = git://github.com/vim-scripts/molokai.git
[submodule "bundle/vim-powerline"]
	path = bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "bundle/file-line"]
	path = bundle/file-line
	url = git://github.com/vim-scripts/file-line.git
